default_language_version:
  python: python3.13

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-yaml
        args: [--unsafe]
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.6
    hooks:
     # Run the linter.
      - id: ruff
        args: [ --fix ]
      # Run the formatter.
      - id: ruff-format
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=hass,alot,NotIn,datas,dof,dur,farenheit,hist,iff,ines,ist,lightsensor,mut,nd,pres,referer,ser,serie,te,technik,ue,uint,visability,wan,wanna,withing
          - --skip="./.*,*.csv,*.json"
          - --quiet-level=2
        exclude_types: [csv, json]
  - repo: https://github.com/PyCQA/bandit
    rev: '1.9.2'
    hooks:
      - id: bandit
        args:
          - --quiet
        files: ^(custom_components)/.+\.py$
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v1.18.2'
    hooks:
      - id: mypy
        args:
          - --pretty
          - --explicit-package-bases
          - --show-error-codes
          - --show-error-context
        exclude: docgen/.*\.py
        additional_dependencies:
          - homeassistant-stubs==2025.11.1
          - types-python-slugify>=8.0.2.20240310
          - voluptuous-stubs>=0.1.1
          - pytest
          - types-cachetools
          - types-requests
          - types-Pillow
          - types-PyYAML
          - types-aiofiles
          - types-beautifulsoup4
          - pytest_unordered
          - pytest_mock
          - pytest_httpserver

ci:
    autofix_commit_msg: |
        [pre-commit.ci] auto fixes from pre-commit.com hooks

        for more information, see https://pre-commit.ci
    autofix_prs: true
    autoupdate_branch: ''
    autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
    autoupdate_schedule: weekly
    skip:
      - bandit
      - mypy
    submodules: false
