site_name: Home Assistant Supernotify
site_url: https://supernotify.rhizomatics.org.uk
site_description: Advanced, concise, flexible notification upgrade for Home Assistant

repo_name: rhizomatics/supernotify
repo_url: https://github.com/rhizomatics/supernotify
edit_uri: edit/main/docs/

theme:
  name: material
  highlightjs: true
  language: en
  logo: assets/images/logo-blank-256x256.png
  icon:
    repo: fontawesome/brands/github
  features:
    - content.action.edit
    - content.action.view
    - content.code.copy
    - content.code.select
    - content.code.annotate
    - navigation.instant
    - navigation.tracking
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.sections
    - navigation.expand
    - navigation.path
    - navigation.indexes
    - navigation.top
    - search.suggest
    - search
    - search.share
    - toc.follow
    - toc.integrate

plugins:
  - search
  - autorefs
  - pagetree
  - optimize
  - tags
  - meta-descriptions
  - social:
      cards_layout_options:
        logo: docs/assets/images/icon.png
        background_image: docs/assets/images/logo-dim-social-640x320.png
        background_color: transparent
  - minify:
      minify_html: true
  - git-revision-date-localized:
      enable_creation_date: true
  - coverage:
      page_path: developer/coverage
      html_report_dir: htmlcov
  - mkdocstrings:
      handlers:
      # See: https://mkdocstrings.github.io/python/usage/
        python:
          options:
            show_source: false
            show_root_heading: true
            summary: true
            show_inheritance_diagram: true
            docstring_section_style: spacy
  - gen-files:
      scripts:
      - docgen/schema_extractor.py
      - docgen/transport_table.py


watch:
  - custom_components/supernotify

markdown_extensions:
  - admonition
  - pymdownx.details
  - attr_list
  - md_in_html
  - pymdownx.blocks.caption
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - toc:
      permalink: true
  - sane_lists
  - pymdownx.snippets:
      check_paths: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
