mkdocstrings
mkdocstrings-python
mkdocs-minify-plugin
pymdown-extensions
mkdocs-material
mkdocs-autorefs
mkdocs-coverage
mkdocs-pagetree-plugin
mkdocs
json-schema-for-humans
mkdocs-gen-files
voluptuous-openapi>=0.2.0
mkdocs-git-revision-date-localized-plugin