pytest==8.4.2
pytest-cov
pytest-socket>=0.7.0
pytest-homeassistant-custom-component>=0.13.295
pytest-asyncio
pytest-unordered
pytest-mock
pytest-xdist
pytest-icdiff
types-aiofiles
types-cachetools
pre-commit
pytest-httpserver>=1.0.10
ruff
mypy
genbadge[all]
