pytest==9.0.2
pytest-cov==7.0.0
pytest-socket==0.7.0
pytest-homeassistant-custom-component>=0.13.295
pytest-asyncio==1.3.0
pytest-unordered
pytest-mock
pytest-xdist
pytest-icdiff
types-aiofiles==25.1.0.20251011
types-cachetools
pre-commit
pytest-httpserver>=1.0.10
aiofiles==25.1.0
ruff
mypy
genbadge[all]
