name: Manage labels

on:
  push:
    branches:
      - main
    paths:
      - ".github/labels.yml"

jobs:
  labeler:
    name: Labeler
    runs-on: ubuntu-latest
    permissions:
      issues: write
      contents: read
    steps:
      - name: Check out the repository
        uses: actions/checkout@v6.0.2

      - name: Run Labeler
        uses: crazy-max/ghaction-github-labeler@24d110aa46a59976b8a7f35518cb7f14f434c916
        with:
          skip-delete: true
